body{
    font-family: 'Roboto', sans-serif;
    background: #202020;
}
#logo{
    width: 100px;
    height: 65px;
    background: #8C35FB;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.container{
    width: 256px;
    margin: 0 auto;
    padding-top: 105px;
    
}

.EntInput{
    display: flex;
    flex-direction: column;
}
.EntInput input{
    color: #fff;
    width: 256px;
    height: 50px;
    margin-bottom: 20px;
    background: #333;
    border: 0px;
    font-size: 18px;
    
}
.EntInput button{
    height: 50px;
    background: #F58585;
    color: #fff;
    font-size: 18px;
    border: 0px;
    margin-bottom: 10px;
}
.EntInput button:hover{
    background: #D67070;
}
#aler{
    color: red;
}

.toReg{
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.toReg a{
    color: #0044F3;
    text-decoration: none;
}