body{
    font-family: 'Roboto', sans-serif;
    background: #202020;
}
.container{
    padding-top: 10px;
    width: 320px;
    margin: 0 auto;
    perspective: 5000px;
}
.lupa{
    float: right;
}
.header{
    margin-bottom: 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.header #pen img{
    height: 41px;
    width: 41px;
}
.mod_btn img{
    width: 41px;
    height: 41px;
}
.SrcBlock{
    width: 320px;
    height: 600px;
    background: #333;
    border-radius: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: absolute;
    box-shadow: -2px -2px 10px 1px #4BC ,2px 2px 1px 1px #8C35FB ;
    animation: background 3s infinite ;
}


@keyframes background {
    
    50% {
        box-shadow: 2px 2px 10px 0px #4BC,-2px -2px 10px 1px #8C35FB;
    }
    
}

.Ijb{
    width: 282px;
    border-radius: 10px;
    margin: 0 auto;
    background-image: url(p.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    padding-top: 400px;
    padding-bottom: 20px;
}
#myname {
    background: rgb(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.classes{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.classes .class{
    width: 69px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    background: #8C35FB;
    border-radius: 5px;
    opacity: 80%;
}

#description{
    background: #202020;
    width: 262px;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    
}
.slider{
    display: flex;
    justify-content:space-between;
    margin-top: 300px;
    position: relative;
    opacity: 0.7;
}
.tLeft{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 27px solid #8C35FB;
    border-bottom: 13px solid transparent;
}
.tRight{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 27px solid #8C35FB;
    border-bottom: 13px solid transparent;
}
.toProfile{
    width: 42px;
    height: 42px;
    background-image: url(p.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 4px 2px #8C35FB;
}
.Ijb label{
    font-size: 100px;
    cursor: pointer;
    margin-left: 40%;
}
.Ijb #file{
    display: none;
}
.Ijb input{
    background: rgb(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 100px
}
.SrcBlock textarea{
    display: block;
    height: 15vh;
}
.myname{
    color: #FFF;
    font-size: 30px;
    margin-left: 1.8vh;
    width: 88%;
}
#saveCh{
    width: 262px;
    height: 30px;
    font-size: 17px;
    display: block;
    margin: 10px auto;
    background: #8C35FB;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

#modal_cont {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 69.1%;
    text-align: center;
    padding-top: 270px;

}
#modal_cont p {
    margin: 0 auto;
    padding-top: 60px;
}

.close {
    width: 262px;
    height: 30px;
    font-size: 23px;
    display: block;
    margin: 450px auto;
    background: #8C35FB;
    color: #fff;
    border: 0;
    border-radius: 45px;
    
    
}
.classes_s {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.class_s {
    width: 100px;
}

/*
.container {
    position: relative;
    background: black;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    perspective: 500px;
}
*/
.trSlider {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: translateZ();
    -webkit-transition: 1s ease;
}
/*
.trSlider:hover{
    transform: rotateY(120deg);
}
*/

.side {
    border: 3px solid white;
    position: absolute;
    width: inherit;
    height: inherit;
    font: normal 70px Arial;
    text-align: center;
    line-height: 300px;
    color: white;
}
.front {
    transform: translateZ(92px);
}
.left {
    transform: rotateY(120deg) translateZ(92px)
        translateX(0px);
}
.right {
    transform: rotateY(-120deg) translateZ(92px) translateX(0px);
}
